{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <h3>All Posts</h3>
        <form id='new-post' class='card-body' method="post">
            {% csrf_token %}
            <div class="form-group">
                New Post
                <input id='post-text' name='new-post' class='form-control'>
            </div>
            <input onclick='create_post()' id='post' type="submit" class="btn btn-primary">
            <input name='user' type="hidden" value="{{ user.username }}">
        </form>
    </div>
    <div class='card-body'>

    </div>
{% endblock %}