{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {{ request.user.username|json_script:"username" }}

    <div>
        <h3>All Posts</h3>
        <form class='card-body' method="post">
            {% csrf_token %}
            <div class="form-group">
                New Post
                <input id='post-text' class='form-control'>
            </div>
            <input onclick='create_post()' type="submit" class="btn btn-primary">
        </form>
    </div>
    <div id="posts-view">

    </div>
{% endblock %}

{% block content %}
  {% include "network/pagination.html" with page=posts_pag %} 
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}