{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{{ request.user.username|json_script:"username" }}
<div class='card-body'>
    <h2> {{ name }} profile</h2>
    <span> Following: {{ following }} </span>
    <span> Followers: {{ followers }}</span>
    {% if user.is_authenticated %}
        {% if user|stringformat:"s" != name|stringformat:"s" %}
            {% if is_followed %}
                <form action="{% url 'profile' name %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-light"> Unfollow </button>
                </form>
            {% else %}
                <form action="{% url 'profile' name %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary"> Follow </button>
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        Sign in to follow.
    {% endif %}
</div>

    <div id="followers-view">
    
    </div>
    <div>
        <h5>All {{ name }} Posts</h5>
    </div>
    <div id="posts-view">
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}